<form (ngSubmit)="onSubmit(form)" #form="ngForm" autocomplete="off">
<h2 class="title">Login</h2>
  <div class="form-group">

    <md-input-container class="example-full-width">
      <input name="inpUserName" mdInput placeholder="Username" ngModel>
    </md-input-container>

    <md-input-container class="example-full-width">
      <input name="inpPassword" type="password" mdInput placeholder="Password" ngModel>
    </md-input-container>

  </div>
  <button md-raised-button type="submit" [disabled]="form.invalid">Log In</button>
</form>
