<section class="mat-typography">

  <md-input-container style="width:600px;">
    <input mdInput (keyup)="filterStates($event.target.value)" placeholder="Filter Insurance" ngModel>
  </md-input-container>

  <div class="dialogTable">
    <table>

      <tr *ngFor="let insurance of insuranceFilter">
        <td width="100%">{{insurance.ins_name}}</td>
        <td nowarp>
          <button md-raised-button (click)='selectedInsurance(insurance)'><md-icon>edit</md-icon></button>
        </td>
      </tr>

    </table>

  </div>
  <div md-dialog-actions>
    <!-- <button md-raised-button type="submit">Submit</button> -->
    <span style="flex: 1 1 auto;"></span>
    <button md-raised-button type="button" (click)='dialogRef.close()'>Cancel</button>
  </div>
  <!-- </form> -->
</section>
