/* Structure */
.container {
  display: flex;
  flex-direction: column;
  /* max-height: 75vh; */
  min-width: 300px;
}

.header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}




table{
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #ddd;
  border-collapse: collapse;
}
th{
  padding:10px;
  background-color:#673ab7;
  color:rgba(255,255,255,.87);
  text-align:left;
}
td {
    border-top: 1px solid #ddd;
    padding:10px;
}
tr:hover{
  background-color:#E0E0E0;
}
