
<h2 class="title">Interpreter Status</h2>
<p class="caption">This is for check Interpreter is available or free ...</p>

<table>
  <tr>
    <th>Full name</th>
    <th>Language</th>
    <th>Status</th>
  </tr>

  <tr *ngFor="let interpreter of interpreters">
    <td>{{interpreter.FullName}}</td>
    <td>{{interpreter.Language}}</td>

    <td [ngSwitch]="interpreter.Status">
        <span *ngSwitchCase="'Available'" style="color:green">
          <md-icon>location_on</md-icon>  {{interpreter.Status}}
        </span>
        <span *ngSwitchCase="'Translate'" style="color: #1e88e5">
          <md-icon>question_answer</md-icon>  {{interpreter.Status}}
        </span>
        <span *ngSwitchCase="'Absent'" style="color:#607d8b">
          <md-icon>local_hotel</md-icon>  {{interpreter.Status}}
        </span>
    </td>
  </tr>
</table>

