<h2 class="title">Interpreter Status</h2>
<p class="caption">This is for check Interpreter is available or free ...</p>
<div class="container mat-elevation-z8">
  <div class="header">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Filter Interpreter">
    </md-input-container>
  </div>

  <md-table #table [dataSource]="dataSource">

    <ng-container cdkColumnDef="FullName">
      <md-header-cell *cdkHeaderCellDef> Full Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.FullName}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Language">
      <md-header-cell *cdkHeaderCellDef> Language </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.Language}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Status">
      <md-header-cell *cdkHeaderCellDef> Status </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.Status}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>
