<h2 class="title">Assign work to Interpreter</h2>
<p class="caption">This is page for add work to intrerpreter !</p>


<table>
  <tr>
    <th>Admit Date</th>
    <th>HN</th>
    <th>Name</th>
    <th>Age</th>
    <th>Nationality</th>
    <th>Ward</th>
    <th>Room</th>
    <th>Interpreter</th>
    <th>Assign</th>
  </tr>
  <tr *ngFor="let assign of assignTable">
    <!-- <td>{{showDate(assign.admitDate)}}</td> -->
    <td>{{assign.admitDate}}</td>
    <td>{{assign.patientHN}}</td>
    <td>{{assign.patientName}}</td>
    <td>{{assign.patientAge}}</td>
    <td>{{assign.nationality}}</td>
    <td>{{assign.admitWard}}</td>
    <td>{{assign.admitRoom}}</td>
    <td>{{assign.fullName}}</td>
    <td><button md-raised-button (click)="openInterpreterDialog(assign)"> <md-icon>library_add</md-icon> </button></td>
  </tr>
</table>
